* { margin: 0; padding: 0 }
a { color: gold; text-decoration: underline;}
nav{ color: white; }
.scroll {

  border-image: url('scroll.png') 130 / 45px stretch;
  border-image-outset: 45px; background-color:#dfb483;
  overflow-y:scroll; height:70%
}

#grad { background:linear-gradient(skyblue,skyblue,skyblue,skyblue,#91e1b4,#8bd967,#61b165); }
.sublink { padding-left:60px; background-color:#00000035; width:100%; text-align: left; }
.maplink { width:100%; text-align: left;
  padding-left: 30px; display: inline flow-root list-item;}

.sublink a, .maplink a{color:aqua;}
.sublink a:visited, .maplink a:visited {color:white;}
.sidebar {

float: right;
  width: 25%;
  background-image: linear-gradient(180deg, #e1ab0a,#7d3b00);
  z-index: 20; min-height:800px;
  border: double silver;

}

@media (max-width: 500px) {
  .sidebar {
    display: none;
    width:300px;
  }
  article {
   min-width:100%;
   }
}

.sidebar a{color:link}
.outerLink{color:aqua;}
.outerLink:visited {color:purple;}

body{
    background-color: #10093a; color:white;
    text-align:center;
}
code{
width:80;   height:80;
  display: inline-block;
  overflow: scroll;
  resize:both; background-color:white; color:black; border:thin black;
  overflow:auto; 
}
button {padding:10px}
#mainnav{
overflow-x: auto;
  overflow-y: hidden;
  display: flex;
width:100%
}
#skip { width: 0;  color: transparent; }
#skip:focus { width: unset;  color: yellow;   }


.link {
display: inline-block;
	width:max-content;
    text-align: center;
    align-content: center;
  padding: 6;
  background-color: #1235;
  margin: 5;
  border-style: groove;
  border-color: #fffc #fff5 #fff9;
}

.border {
    border-left-color: white;
    border-top-color: silver;
    border-bottom-color: black;
    border-right-color: grey;
    border-width: 5px;
    border-style: solid;
}

article {
  position: relative; padding-bottom:20px;
  min-height: 1000px;   width: calc(100% - 26%);
  overflow-x:clip;
}


#welcome{
     position: absolute;
     background: -webkit-linear-gradient(#ff8100, #ff8100, #a95a00, #ff8100, #ff8100, #a95a00, #a95a00, #a95a00, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.25px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
    padding-left: 10px;
    padding-right: 10px;
}

table, td, tr {

    background-color: grey;
    color: yellow;
    border: 5px;
    margin: 0 auto;
    padding-right: 10px;
    border-color: black;
    border-style: double;
    text-align: center;

}

tr{
    padding-left: 10px;
    padding-right: 10px;
}

header{
    text-align:left;
    width: 100%;
    border-bottom-color: #3a0202;
   
    border-bottom-style: solid;
    border-bottom-width: 10px;
    background-image: linear-gradient(171deg, #a30000, #471b05);
}


#footer{
    text-align: left;
    padding-bottom: 20;
    background-image: linear-gradient(171deg, #a30000, #471b05);
    border-top-color: #8c1030;
    border-top-style: solid;
    border-top-width: 10px;
    width: 100%;
}
}

